@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');

body {
  background-color: #3c684faf;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-head {
  display: flex;
  justify-content: center;
}

.navbar {
  margin-top: 20px;
  border-radius: 5px;
  background-color: whitesmoke;

}

.navbar ul {
  justify-content: center;
  display: flex;
  list-style: none;
  color: rgb(0, 0, 0);
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 5px;
}

@media only screen and (max-width:400px) {
  .navbar {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
  }

}

@media only screen and (max-width:400px) {
  .navbar ul {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

.link-item {
  width: 80px;
  display: flex;
  justify-content: center;
  /* margin-right: 40px; */
  margin: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgba(152, 152, 152, 0.116);
}



.link-item:hover {
  color: white;
  background-color: #3c684fc9;
}

.active {
  background-color: #3c684fc9;
  color: #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.738) 0px 1px 10px 0px;
}

.card-holder {
  margin-top: 20px;
  display: flex;
  margin-bottom: 40px;
}

.card {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.main-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 300px;
  height: 570px;
  margin-bottom: 10px;

}


/* @media only screen and (max-width:600px) {
  .main-card {
  }

} */

.card-content {
  background-color: #3c684f0b;

  justify-content: space-evenly;
  height: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 10px;
}

.card-content h4 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0px;
  color: darkolivegreen;

}

.card-des {
  font-family: 'Alegreya', serif;
  letter-spacing: 0.2px;
  margin: 0px;
  padding: 0px;
  opacity: 0.5;
}

.card-price {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
}


.card-img {
  margin: 5px;
  margin-bottom: -1px;
  width: 290px;
  height: 350px;
  object-fit: cover;
}

.btn-sec {
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.card-btn {
  border: 0.5px solid black !important;
  width: 120px;
  color: #000000 !important;
  padding: 1.5px !important;
  font-family: 'Rubik', sans-serif !important;
  touch-action: manipulation !important;

}







.card-btn:hover {
  background-color: #0c42247c !important;
  box-shadow: #12121236 0 0 10px 1px, transparent 0 0 0 0 !important;
  border: none !important;
  color: white !important;
}